#!/usr/bin/env nextflow

// Load base.config by default for all pipelines
includeConfig "$baseDir/../../../conf/modules.config"
includeConfig "$baseDir/../../../conf/modules-test.config"


params.gtf          = "$baseDir/../../../test_data/cellranger/genome/chr1.gtf"

params.fasta        = "$baseDir/../../../test_data/cellranger/genome/chr1.fa"

params.samplesheet  = "$baseDir/../../../test_data/cellranger/sample_info.csv"

