/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// Copy from test.config for standardization
params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input        = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/samplesheet-2-0.csv'

    // Genome references
    fasta        = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/GRCm38.p6.genome.chr19.fa'
    gtf          = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/gencode.vM19.annotation.chr19.gtf'
    protocol     = '10XV2'

    // small dataset does not have sufficient data for emptydrops module
    skip_cellbender = true

    validationSchemaIgnoreParams = 'genomes'
}

process {
    withName: '.*:CELLRANGER_COUNT' {
        maxForks = 1
    }

    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h'
    ]
}
