process { withName: 'CUSTOM_GTFFILTER' { container = 'community.wave.seqera.io/library/python:3.14.5--dc8358b3c5eeb927' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cb1a2fa2f18c7c2' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--c17fb751507e9dfc' } }
