process { withName: 'CUSTOM_GTFFILTER' { container = 'community.wave.seqera.io/library/python:3.14.5--bfcec33ce3c2e2f2' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
