process { withName: 'CUSTOM_GTFFILTER' { container = 'oras://community.wave.seqera.io/library/python:3.14.5--b29a2f2e65e096bd' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--5c4bd442468d75dd' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c680f2aea25ccec2' } }
