/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// TODO update to DSL2 v2.0 schema
// process {

//     publishDir = [
//         path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
//         mode: 'copy',
//         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//     ]

//     withName: SAMPLESHEET_CHECK {
//         publishDir = [
//             path: { "${params.outdir}/pipeline_info" },
//             mode: 'copy',
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]

    // withName: FASTQC {
    //     ext.args = '--quiet'
    // }

    // withName: CUSTOM_DUMPSOFTWAREVERSIONS {
    //     publishDir = [
    //         path: { "${params.outdir}/pipeline_info" },
    //         mode: 'copy',
    //         pattern: '*_versions.yml'
    //     ]
    // }

params {
    modules {
        'cellranger_mkgtf' {
            publish_dir         = "cellranger/mkgtf"
            args                = "--attribute=gene_biotype:protein_coding --attribute=gene_biotype:lncRNA --attribute=gene_biotype:pseudogene"
        }
        'cellranger_mkref' {
            publish_dir         = "cellranger/mkref"
            publish_files       = false
        }
        'cellranger_count' {
            publish_dir         = "cellranger/count"
            publish_files       = ['gz':'filtered_feature_bc_matrix']
        }
        'gffread_tx2pgene' {
            args                = "--table transcript_id,gene_id"
            suffix              = "_gffread"
        }
        'salmon_alevin' {
            args                = ""
        }
        'salmon_index' {
            args                = ""
        }
        'alevinqc' {
            args                = ""
        }
        'multiqc_alevin' {
            args                = ""
        }
        'star_genomegenerate' {
            args                = ""
        }
        'star_align' {
            args                = "--readFilesCommand zcat --runDirPerm All_RWX --outWigType bedGraph --twopassMode Basic --outSAMtype BAM SortedByCoordinate"
        }
        'kallistobustools_ref' {
            args                = ""
        }
        'kallistobustools_count' {
            args                = ""
        }
        'multiqc_kb' {
            args                = ""
        }
    }
}
