#!/usr/bin/env nextflow

/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'cellranger_mkgtf' {
            publish_dir         = "cellranger/mkgtf"
            args                = "--attribute=gene_biotype:protein_coding --attribute=gene_biotype:lncRNA --attribute=gene_biotype:pseudogene"
        }
        'cellranger_mkref' {
            publish_dir         = "cellranger/mkref"
            publish_files       = false
        }
        'cellranger_count' {
            publish_dir         = "cellranger/count"
            publish_files       = ['gz':'filtered_feature_bc_matrix']
        }
        'gffread_tx2pgene' {
            args                = "--table transcript_id,gene_id"
        }
        'salmon_alevin' {
            args                = "--dumpFeatures –-dumpMtx"
        }
        'salmon_index' {
            args                = ""
        }
        'alevinqc' {
            args                = ""
        }
        'multiqc_alevin' {
            args                = ""
        }
    }
}
