/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/scrnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// shared across profiles
params {
    config_profile_name        = 'Test profile (Cellranger Multi)'
    config_profile_description = 'Minimal test dataset to check pipeline function using cellranger multi'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 10
    max_memory = '50.GB'
    max_time   = '6.h'

    // Input data
    input           = "${projectDir}/assets/cellrangermulti_samplesheet.csv"
    cmo_barcode_csv = 'https://github.com/nf-core/scrnaseq/raw/247-support-for-10x-ffpe-scrna/assets/cmo_barcodes.csv'

    // Genome references
    fasta           = 'https://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
    gtf             = 'https://ftp.ensembl.org/pub/release-110/gtf/homo_sapiens/Homo_sapiens.GRCh38.110.gtf.gz'

    // aligner
    aligner         = 'cellrangermulti'
    protocol        = 'auto'

    // other
    validationSchemaIgnoreParams = 'genomes'
}
