/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/scrnaseq -profile test_kallisto,docker
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check kallisto/bustools workflow function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = false
  barcode_whitelist = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/10xv2_whitelist_sub50K.txt'
  aligner = 'kallisto'
  bustools_correct = false
  skip_bustools = true
  type = '10x'
  chemistry = 'V2'
  readPaths = [
    ['SRR8599150',
      ['https://github.com/nf-core/test-datasets/raw/scrnaseq/testdata/kallisto/SRR8599150_S1_L001_R1_001.sub5000.fastq.gz',
      'https://github.com/nf-core/test-datasets/raw/scrnaseq/testdata/kallisto/SRR8599150_S1_L001_R2_001.sub5000.fastq.gz']]]
  transcript_fasta = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/kallisto/Mus_musculus.GRCm38.chr19subset.fa.gz'
  gtf = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/kallisto/Mus_musculus.GRCm38.96.chr19.gtf.gz'

}
