/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/scrnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

// shared across profiles
params {
    config_profile_name        = 'Test profile (Cellranger Multi)'
    config_profile_description = 'Minimal test dataset to check pipeline function using cellranger multi'

    // Resources on test case
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '6.h'

    // Input data
    input                     = "${projectDir}/assets/cellrangermulti_samplesheet.csv"
    cellranger_multi_barcodes = "${projectDir}/assets/cellranger_barcodes_samplesheet.csv"
    gex_frna_probe_set        = "${projectDir}/assets/frna_probeset_subset.csv"
    fb_reference              = "${projectDir}/assets/fb_reference.csv"
    skip_emptydrops           = true // not enough data in small test

    // Genome references
    fasta           = 'https://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.14.fa.gz'
    gtf             = 'https://ftp.ensembl.org/pub/release-110/gtf/homo_sapiens/Homo_sapiens.GRCh38.110.gtf.gz'

    // aligner
    aligner         = 'cellrangermulti'
    protocol        = 'auto'

    // other
    validationSchemaIgnoreParams = 'genomes'
}
