/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/scrnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full Test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input        = 'https://raw.githubusercontent.com/nf-core/test-datasets/scrnaseq/samplesheet_2.0_full.csv'
    genome_fasta = 's3://nf-core-awsmegatests/scrnaseq/input_data/Homo_sapiens.GRCh38.dna.primary_assembly.fa.modified'
    gtf          = 's3://nf-core-awsmegatests/scrnaseq/input_data/gencode.v32.primary_assembly.annotation.gtf.filtered'
    protocol     = '10XV2'
    schema_ignore_params = 'genomes'
}
