/*
========================================================================================
    Nextflow config file for running minimal tests with cellranger
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/scrnaseq -profile test_cellranger,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Cellranger test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/samplesheet-2-0-cellranger.csv'
    genome_fasta = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/GRCm38.p6.genome.chr19.fa'
    gtf = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/gencode.vM19.annotation.chr19.gtf'
    protocol = '10XV2'
    // Ignore `--input` as otherwise the parameter validation will throw an error
    schema_ignore_params = 'genomes,input_paths,input'
}
